/* ================ */
.drag {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 4;
    right: 200px;
    top: 100px;
    width:48px;
    /* height:336px; */
    background:rgba(49,61,77,0.9);
    box-shadow:0px 0px 0px 0px rgba(255,255,255,0.1);
    border-radius:6px;
}

.drag > .tool {
    position: relative;
    cursor: pointer;
}

.drag > .tool > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drag > .tool > div > img {
    display: block;
    width: auto;
    height: 20px;
}

.drag > .tool > .active {
    width:32px;
    height:32px;
    background:rgba(80,95,115,1);
    border-radius:4px;
    filter:blur(0px);
}

.drag > .tool .toolAttr {
  position: absolute;
  left: -150px;
  width: 120px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 5px;


  background:rgba(68,80,74,1);
border-radius:4px;
border:1px solid rgba(68,80,74,1);
}

.AttrBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;


}

.AttrBox > div {
    box-sizing: border-box;
  width:30px;
  height:30px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.AttrBox .penSize{
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
}

.AttrBox .penColor{
box-sizing: border-box;
  width:20px;
  height:20px;
  border-radius:2px;
}

.AttrBox .textSize{
  color: rgba(255,255,255,0.5);
  font-size: 12px;
}

.AttrBox .penShape {
    display: block;
    /* background-color: rgba(255,255,255,0.5);
  width: 100%;
  height: 100%; */
}

.AttrBox .penSizeBox.active .penSize{
    background-color: rgba(255,255,255,1);
}

.AttrBox .penColorBox.active{
    border-radius:2px;
    border:1px solid rgba(55,194,255,1);
}

.AttrBox .textSizeBox.active .textSize{
    color: rgba(255,255,255,1);
}

.AttrBox .penShapeBox.active{
    border-radius:2px;
    border:1px solid rgba(55,194,255,1);
}
/* .AttrBox div.active .penSize{
    background-color: rgba(255,255,255,1);
} */